<!DOCTYPE html>
<html>
    <head>
        <title>Online Clothing - Registration</title>
    </head>
    <body>
        <h3>Register Here</h3>
        <form method="post">
            <label>Name:</label><br>
            <input type="text" name="name" placeholder="Enter your name"><br><br>
            <label>Contact No:</label><br>
            <input type="text" name="contact" placeholder="Enter contact no"><br><br>
            <label>Username:</label><br>
            <input type="text" name="username" placeholder="Enter your username"><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" placeholder="Enter your password"><br><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>