<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h3>Wellcome <%= logged.name %></h3>
        <a href="/home/profile">Profile</a><br>
        <% if(logged.role=='admin') { %>
        <a href="/home/product">Products</a><br>
        <a href="/home/customer">Customers</a><br>
        <a href="/home/orders">Orders</a><br>
        <% } %>
        <a href="/home/logout">Logout</a>
    </body>
</html>