<!DOCTYPE html>
<html>
    <head>
        <title>Add New Category</title>
    </head>
    <body>
        <h3>Add New Category</h3>
        <form method="post">
            <label>Name:</label><br>
            <input type="text" name="name" placeholder="Enter category name"><br><br>
            <input type="submit" value="Add">
        </form>
    </body>
</html>