<!DOCTYPE html>
<html>
    <head>
        <title>Update Category</title>
    </head>
    <body>
        <h3>Update Category</h3>
        <form action="/home/category/update/<%= category.id %>" method="post">
            <label>Name:</label><br>
            <input type="text" name="name" placeholder="Enter category name" value="<%= category.name %>"><br><br>
            <input type="submit" value="Save Changes">
        </form>
    </body>
</html>